<html>

<head>
    <title>TravelTek Challenge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="js/index.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">TravelTek Challenge</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a id="stops" class="nav-link" style="cursor: pointer;">Most Stops</a>
            </li>
            <li class="nav-item">
              <a id="early" class="nav-link" style="cursor: pointer;">Early Fliers</a>
            </li>
            <li class="nav-item">
              <a id="flights" class="nav-link" style="cursor: pointer;">Flight's per day</a>
            </li>   
            <li class="nav-item">
              <a id="destinations" class="nav-link" style="cursor: pointer;">Popular Destination</a>
            </li>
            <li class="nav-item">
              <a id="carrier" class="nav-link" style="cursor: pointer;">Popular Carrier</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container">
            <div id="info">
                <div class="card">
                    <div class="card-header">Welcome</div>
                        <div class="card-body">
                            <h5 class="card-title">This is a test application for TravelTek</h5>
                            <p class="card-text">By clicking the nav bar options above you will be able to see specific stats from the data that provided.</p>
                        </div>
                    </div>
            </div>
      </div>



</body>
</html>